*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fiverr{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
}

.item{
    background-color: white;
    top: 0;
    z-index: 999;
    position: sticky;
}

.container{
    width: 100%;
    max-width: 1440px;
    padding: 15px 5px;
    margin: 0 auto;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    color: black;
}

.logo h1{
    font-size: 35px;
    font-weight: bold;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: ease-in-out 0.3s;
    font-weight: bold;
    padding: 10px;
}

.background{
    transition: ease-in-out 0.3s;
}

.background a:hover{
    background-color: #f6f6f6;
    border-radius: 10px;
}

.color{
    transition: ease-in-out 0.3s;
}

.joln a{
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 3px;
}

.joln a:hover{
    background-color: black;
    color: white;
}

.color a:hover{
    color: green;
}

.bars{
    color: black;
    font-size: 30px;
    display: none;
}

@media (max-width:968px) {
    .bars{
        display: block;
    }
    ul{
        display: none;
    }
}

.video{
    width: 100%;
    height: 99vh;
    top: -120px;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

video{
    width: 2500px;
    height: 100%;
    margin-left: -290px;
}

.freelancers{
    position: absolute;
    z-index: 1;
    top: 270px;
    left: 250px;
}

.freelancers h1{
    color: white;
    font-size: 70px;
    font-weight: 350;
}

.freelancers h2{
    color: white;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 30px;
}


.search{
    position: relative;
}

.search_input {
    font-size: 20px;
    padding: 20px 0;
    padding-right: 870px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
}


.search_input:focus {
    border: none;
}


.newsearch{
    position: absolute;
    color: white;
    background-color: black;
    padding: 15px;
    right: 6px;
    top: 8px;
    border-radius: 5px;
}

.newsearch:hover{
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

.categories{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

button{
    padding: 10px 17px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.fa-arrow-right{
    padding-right: 10px;
    padding-left: 12px;
}

button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.trusted-by{
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
}

.trusted{
    position: absolute;
    display: flex;
    gap: 50px;
    top: 110px;
}

.trusted h4{
    font-weight: 400;
}